{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Nadia's Garden</title>
  <link rel="stylesheet" href="{% static 'style.css' %}"/>
</head>
<body>
<nav class="navbar">
  <a class="navbar-brand" href="{% url 'pizza:home' %}">Nadia's Garden</a>
  <ul class="navbar-menu">
    <li class="navbar-menu-item"><a href="{% url 'pizza:list' %}">Pizza List</a></li>
    <li class="navbar-menu-item"><a href="{% url 'pizza:order' %}">Order Pizza</a></li>
  </ul>
</nav>
{% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message|safe }}
        <a href="#" class="close">&times;</a>
      </div>
    {% endfor %}
  </div>
{% endif %}
<div class="main">
  {% block content %}{% endblock %}
</div>
</body>
</html>
