{% extends "teams/layout.html" %}

{% block body_content %}
  <div class="team">{{ team.name|capfirst }}</div>
  <p>{{ team.practice_location }}</p>
  <p>Coached by <strong>{{ team.coach.get_full_name|default:team.coach }}</strong></p>

  <h2>Players ({{ team.players.count }})</h2>
  <ul>
    {% for player in team.players.all %}
      <li>{{ player.name }} - {{ player.get_position_display }}</li>
    {% endfor %}
  </ul>

  {% if user == team.coach %}
    <hr>
    <form method='POST'>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn" value="Save">
    </form>
  {% endif %}

  {% if user.is_authenticated %}
    <hr>
    <p><a href="{% url 'teams:update' pk=team.pk %}" class="btn">Edit</a></p>
  {% endif %}
{% endblock %}
