{% load static %}
<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Threads Listing | Forum</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>
<body>
<div class="container">
  <div class="logo">
    <a href="{% url 'index' %}">Forum</a>
  </div>
  {% block body %}{% endblock %}
  <footer>
    <div class="text-center">
      Copyright &copy; 2020 Forum. All rights reserved.
    </div>
  </footer>
</div>
</body>
</html>
