{% extends "communities/layout.html" %}

{% block left_content %}
  <div class="card card-with-shadow">
    <h3 class="title">Communities</h3>
    <p>MSG communities are a great place to find other people that share your passions! Make
      friends, learn tips &amp; tricks, and more!</p>
  </div>
{% endblock %}

{% block right_content %}
  <div class="content">
    {% for community in object_list %}
      <a href="{% url 'communities:single' slug=community.slug %}">
        <h3 class="title">{{ community.name }}</h3>
      </a>
      <div class="hpad">
        {{ community.description_html|safe }}
        <div class="row">
          <div class="col">
            <span class="badge">{{ community.members.count }}</span>
            member{{ community.members.count|pluralize }}
          </div>
          <div class="col">
            <span class="badge">{{ community.posts.count }}</span>
            post{{ community.posts.count|pluralize }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
