{% extends "communities/layout.html" %}
{% load community_tags %}

{% block left_content %}
  <div class="card card-with-shadow">
    <h3 class="title">{{ community.name }}</h3>
    {{ community.description_html|safe }}
    {% community_buttons community %}
  </div>

  <div class="card card-with-shadow">
    <h3 class="title">Members</h3>
    <ul class="list-unstyled">
      {% for membership in community.good_members %}
        <li class="row">
          <div class="col">
            <a href="{% url "posts:for_user" username=membership.user.username %}">{{ membership.user.display_name }}</a>
          </div>
          <div class="col text-right">
            {% if user.id in community.admins or user.id in community.moderators %}
              {% if membership.user.id in community.moderators %}
                <a href="{% url "communities:change_status" slug=community.slug user_id=membership.user.id status=1 %}"><span class="text-warning">👇</span></a>
              {% endif %}
              {% if membership.user.id not in community.moderators and membership.user.id not in community.admins %}
                <a href="{% url "communities:change_status" slug=community.slug user_id=membership.user.id status=2 %}"><span class="text-warning">👆</span></a>
              {% endif %}
              {% if perms.communities.ban_member %}
                <a href="{% url "communities:change_status" slug=community.slug user_id=membership.user.id status=0 %}"><span class="text-danger">🚫</span></a>
              {% endif %}
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block right_content %}
  {% for post in community.posts.all %}
    {% include "posts/_post.html" %}
  {% endfor %}
{% endblock %}
