{% extends "layout.html" %}

{% block body_content %}
  <div class="landing-header">
    <div class="motto">
      <h1>MSG</h1>
      <h3>The newest social network around!</h3>
      <br/>
      <a class="btn btn-primary" href="{% url 'accounts:signup' %}">Sign Up</a>
    </div>
  </div>

  <div class="landing-section">
    <div class="text-center">
      <h2>Are you tired of your current social network?</h2>
      <h4>Then join a new one! Nothing's better than starting over!</h4>
    </div>
  </div>

  <div class="landing-section">
    <div class="row">
      <div class="col">
        <h3>Messages</h3>
        <p>You can post messages to the network! They'll be seen by other members.</p>
      </div>
      <div class="col">
        <h3>Communities</h3>
        <p>Communities are where people with similar interests can have conversations. They're
          like Twitter's hashtags but different! They're also kind of like sub-Reddits but,
          hopefully, without the horribleness. Wait, we don't want Twitter's horribleness either.
          Oh no! We're doomed!</p>
      </div>
      <div class="col">
        <h3>You</h3>
        <p>We'll never be able to make a profit on this site unless you give us information we can
          collect and sell! Do your part today!</p>
      </div>
    </div>
  </div>
{% endblock %}
