{% extends 'base.html' %}
{% block body %}
  {% include '_menu.html' %}

  <!-- display the page title and the number of threads we got from the database -->
  <div class="page-title">My Profile</div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="panel-title">My Info</div>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item">
          Email:
          <strong class="pull-right">{{ user.email }}</strong>
        </li>
        <li class="list-group-item">
          Username:
          <strong class="pull-right">{{ user.username }}</strong>
        </li>
        <li class="list-group-item">
          First name:
          <strong class="pull-right">{{ user.first_name }}</strong>
        </li>
        <li class="list-group-item">
          Last name:
          <strong class="pull-right">{{ user.last_name }}</strong>
        </li>
        <li class="list-group-item">
          Location:
          <strong class="pull-right">{{ user.profile.location }}</strong>
        </li>
        <li class="list-group-item">
          Age:
          <strong class="pull-right">{{ user.profile.age }}</strong>
        </li>
        <li class="list-group-item">
          Num of Posts:
          <strong class="pull-right">{{ user.reply_set.count }}</strong>
        </li>
        <li class="list-group-item">
          Join Date:
          <strong class="pull-right">{{ user.date_joined|date:"F j, Y" }}</strong>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
