{% extends "courses/layout.html" %}

{% block title %}{{ form.instance.text|default:"New Answer" }} |
  {{ question.prompt }} | {{ question.quiz.course.title }} {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <li><a href="{% url 'courses:list' %}">Courses</a></li>
  <li>
    <a href="{% url 'courses:detail' pk=question.quiz.course.pk %}">{{ question.quiz.course.title }}</a>
  </li>
  <li>
    <a href="{% url 'courses:quiz' course_pk=question.quiz.course.pk step_pk=question.quiz.pk %}">{{ question.quiz.title }}</a>
  </li>
  <li>{{ question.prompt }}</li>
{% endblock %}

{% block content %}
  {{ block.super }}
  <h3>{{ form.instance.prompt|default:"Make a new answer" }}</h3>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Save">
  </form>
{% endblock %}
