{% extends "courses/layout.html" %}
{% load static course_extras %}

{% block css %}
  <link rel="stylesheet" href="{% static 'courses/css/courses.css' %}">
{% endblock %}

{% block title %}All{% endblock %}

{% block breadcrumbs %}
  <li>Courses</li>
{% endblock %}

{% block content %}
  <div class="row">
    {{ block.super }}
  </div>
  {% if total.total %}
    <p>Total number of quizzes and steps: {{ total.total }}</p>
  {% endif %}
  <div class="row row-wrap">
    {% for course in courses %}
      <div class="callout col">
        <h2><a href="{% url 'courses:detail' pk=course.pk %}">{{ course.title }}</a></h2>
        <div class="card">
          {{ course.description|markdown_to_html }}
        </div>
        {% if course.total_steps %}
          <div><strong>Steps:</strong> {{ course.total_steps }}</div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
