{% extends 'base.html' %}
{% block title %}Car Detail Form{% endblock %}
{% block content %}
  <div class="container">
    <form action="{% url 'sbxapp:car-detail' pk=form.instance.pk %}" method="POST" novalidate>
      {% csrf_token %}
      {{ form.as_p }}
      <button class="button" type="submit">Submit</button>
    </form>
    <form action="{% url 'sbxapp:car-delete' pk=form.instance.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="Delete" onclick="return confirm('Delete?');">
    </form>
  </div>
{% endblock %}
