{% extends 'base.html' %}
{% block title %}Hashing{% endblock %}
{% block content %}
  <form action="{% url 'sbxapp:hashing-create' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input name="submit" type="submit" value="Save">
  </form>

  <h3 id="quickhash"></h3>

  <script>
    const quickhash = document.getElementById('quickhash');
    document.getElementById('id_text').onkeyup = (e) => {
      fetch('{% url "sbxapp:hashing-quickhash" %}?text=' + e.target.value)
        .then(res => res.json())
        .then(json => quickhash.textContent = json['hash']);
    };
  </script>
{% endblock %}
